* {
  margin: 0;
  padding: 0;
}

//标题区域
.logo {
  display: block;
  //background-color: pink;
  margin: 10px auto;
  text-align: center;
}

.text {
  display: inline-block;
  font-family: arial, sans-serif;
  font-size: 25px;
  margin: -15px;
  transform: translate(0, -18px);
}

.baidu-logo {
  //background-color: red;
  width: 270px;
  left: 50%;
  margin-top: 30px;
  text-align: center;
}

//搜索条
.searchnav {
  width: 550px;
  margin: 0 auto;
  display: flex;

}

.searchbar { /*目的是设置自定义边框，比如圆角与阴影*/
  //background-color: pink;
  border: 2px solid #c4c7ce;
  border-right: 0;
  border-radius: 10px 0 0 10px;
  width: 440px;
  height: 35px;
  //box-shadow: 0px 0px 5px rgb(212, 212, 212);
  //text-align: center;
}

.searchbar:hover {
  border: 2px solid rgb(167, 170, 181);
  border-right: 0;
}

//.searchbar.active input{
//  border: 2px solid rgb(70,98,217);
//  border-right: 0;
//}

#search {
  display: inline;
  width: 400px;
  height: 32px;
  margin-left: 10px;
  border: none; /*取消默认的边框以设置自定义边框*/
  outline: none; /*取消浏览器默认的蓝光边框以设置自定义的输入框*/
  font-size: 16px;
  color: rgb(112, 112, 112);
  //background-color: red;
  margin-top: 2px;
  //background-color: pink;
}

//.img-magnifier {
//  width: 27px;
//  height: 27px;
//  background-size: 100%;
//  background-image: url("../assets/放大镜图标.png");
//  margin-left: 10px;
//  margin-top: 10px;
//}
//
//.img-microphone {
//  width: 27px;
//  height: 27px;
//  background-size: 100%;
//  background-image: url("../assets/麦克风图标.png");
//  margin-left: 10px;
//  margin-top: 10px;
//}

//搜索按钮
//.bt {
//  justify-content: center
//}

.bt-search {
  width: 108px;
  height: 39px;
  background-color: #4e6ef2;
  border-radius: 0 10px 10px 0;
  border: none;
  font-family: arial, sans-serif;
  padding: 0 16px;
  line-height: 27px;
  min-width: 54px;
  //cursor: pointer;
  //user-select: none;
  font-size: 17px;
  color: #fff;
}

.bt-search:hover {
  background-color: rgb(70, 98, 217);
}


//问题区
.question {
  width: 400px;
  margin: 50px auto;
  text-align: center;
  display: block;
}


.dialogue {
  display: block;
  margin: 0 auto;
  color: rgb(60, 63, 65);
}

.center {
  display: flex;
  justify-content: center
}

.bt-copy {
  margin: 0 10px;
}

.link {
  height: 30px;
  background-color: gainsboro;
  border-radius: 4px;
  border: 1px solid rgb(218, 218, 218);
}

.btSearchtouch {
  box-shadow: 0 0 5px rgb(212, 212, 212);
}


//鼠标和鼠标动画

.mouseDispaly {
  display: block;
  background-image: url("../assets/鼠标.png");
  height: 40px;
  width: 40px;
  background-size: 100%;
  margin: 0;
  padding: 0;
  position: absolute;
  border-radius: 50%;
  top: 0;
  left: 0;
}

.mouseMove1 {
  animation-name: mouseMove1;
  animation-duration: 2s;

  animation-fill-mode: forwards;
}

.mouseMove2 {
  animation-name: mouseMove2;
  animation-duration: 2s;
  animation-fill-mode: forwards;
}

@keyframes mouseMove1 {
  0% {
    top: 0;
    left: 0;
  }
  100% {
    left: 45%;
    margin-top: 200px;
  }
}

@keyframes mouseMove2 {
  0% {
    left: 45%;
    margin-top: 200px;
  }

  100% {
    left: 63.5%;
    margin-top: 200px;
  }
}


//底线
.foot {
  display: flex;
  position: absolute;
  bottom: 20px;
  //background-color: pink;
  width: 100%;
}

span {
  font-size: 12px;
  color: #999;
  margin: 0 auto;
}


//变化项
.text-success {
  display: none;
}

.searchbarTouch {
  border: 2px solid rgb(70, 98, 217);
  border-right: 0;
}


//适配
@media screen and (orientation: portrait) {
  /*竖屏 css*/

  #text1 {
    transform: translate(19vw, 28vw) scale(1.5);
  }

  #text2 {
    display: block;
    transform: translate(19vw, 37vw) scale(1.5);
  }

  .baidu-logo {
    display: block;
    transform: translate(38vw, 20vw) scale(1.5);
  }

  .searchnav {
    transform: translate(5vw, 52vw);
  }


  .question {
    transform: translate(23vw, 49vw) scale(1.5);
  }

  .foot {
    transform: translate(23vw, 49vw) scale(1.5);
  }

  div.center {
    transform: translate(26vw, 55vw) scale(1.5);
  }
  @keyframes mouseMove1 {
    0% {
      top: 0;
      left: 0;
    }
    100% {
      left: 40%;
      margin-top: 380px;
    }
  }
  @keyframes mouseMove2 {
    0% {
      left: 40%;
      margin-top: 380px;
    }
    100% {
      left: 120%;
      margin-top: 380px;
    }
  }
  .center {
    transform: translate(0, -9vw)
  }

}


