<!--<router-outlet></router-outlet>-->

<div class="logo">
  <div class="text" *ngIf="animationOn" [ngClass]="{'text-success':again}" id="text1">让我帮你</div>
  <img alt="google" src="../assets/bd-logo.webp" class="baidu-logo">
  <div class="text" *ngIf="animationOn" [ngClass]="{'text-success':again}" id="text2">你要的东西</div>
</div>

<form (submit)="sharelink()" class="searchnav">
  <div class="searchbar" [ngClass]="{'searchbarTouch':searchbarTouch}">
    <input type="text" name='val' [(ngModel)]="searchval" id="search" autofocus>
    <!--  <div class="img-microphone"></div>-->
  </div>
  <button class="bt-search" type="submit" [ngClass]="{'btSearchtouch':btSearchtouch}">百度一下</button>
</form>


<div class="question">
  <mat-card-title class="dialogue">{{card}}</mat-card-title>
</div>


<div class="center" *ngIf="active">
  <input type="text" class="link" name="newsearch" [(ngModel)]="newsearch" #link>
  <div class="bt">
    <!--    <button mat-stroked-button class="bt-search">分享</button>-->
    <button mat-stroked-button class="bt-copy" (click)="copyToClip()">复制</button>
  </div>
</div>

<div [ngClass]="{
'mouseDispaly':again,
'mouseMove1':mousemove1,
'mouseMove2':mousemove2}"
     id=""></div>

<div class="foot">
  <span>Google® 是 Google Inc 的注册商标，本产品和 Google® 没有任何联系</span>
</div>

