* {
  margin: 0;
  padding: 0;
}

//标题区域
.logo {
  height: 300px;
  display: block;
  //background-color: pink;
  margin: 20px auto;
  text-align: center;
}
.text {
  display: inline-block;
  font-family: arial, sans-serif;
  font-size: 30px;
  margin: 0 12px;
  transform: translate(0, -30px);
}

.google-logo {
  //background-color: red;
  display: inline;
  width: 272px;
  height: 92px;
  left: 50%;
  margin-top: 200px;
  text-align: center;
}

//搜索条
.searchbar { /*目的是设置自定义边框，比如圆角与阴影*/
  border: rgb(218, 218, 218) solid 1px;
  border-radius: 2em;
  width: 583px;
  height: 44px;
  //box-shadow: 0px 0px 5px rgb(212, 212, 212);
  margin: 0 auto;
  display: flex;
  text-align: center;
}

.searchbar:hover {
  box-shadow: 0 0 5px rgb(212, 212, 212);
}

.img-magnifier {
  width: 27px;
  height: 27px;
  background-size: 100%;
  background-image: url("../assets/放大镜图标.png");
  margin-left: 10px;
  margin-top: 10px;
}

.img-microphone {
  width: 27px;
  height: 27px;
  background-size: 100%;
  background-image: url("../assets/麦克风图标.png");
  margin-left: 10px;
  margin-top: 10px;
}

#search {
  width: 500px;
  height: 40px;
  border: none; /*取消默认的边框以设置自定义边框*/
  outline: none; /*取消浏览器默认的蓝光边框以设置自定义的输入框*/
  font-size: 16px;
  color: rgb(112, 112, 112);
  //margin-left: 30px;
  //background-color: red;
  margin-top: 2px;
}


//搜索按钮
.bt {
  margin-top: 20px;
  display: flex;
  justify-content: center
}

.bt-search {
  background-color: #f8f9fa;
  border: 1px solid #f8f9fa;
  border-radius: 4px;
  color: #3c4043;
  font-family: arial, sans-serif;
  font-size: 14px;
  margin: 10px 20px;
  padding: 0 16px;
  line-height: 27px;
  height: 36px;
  min-width: 54px;
  cursor: pointer;
  user-select: none;
}

.bt-search:hover {
  box-shadow: 0 0 5px rgb(212, 212, 212);
}


//问题区
.question {
  width: 400px;
  margin: 50px auto;
  text-align: center;
  display: block;
}

.center{
  //display: none;
  margin-top: 50px;
}
.dialogue{
  display: block;
  margin: 0;
  color: rgb(110,110,110);
}
.link{
  height: 30px;
  background-color:gainsboro;
  display: block;
  margin: 0 auto;
  border-radius: 4px;
  border: 1px solid rgb(218, 218, 218);
}
.btSearchtouch{
  box-shadow: 0 0 5px rgb(212, 212, 212);
}

//鼠标和鼠标动画

.mouseDispaly{
  display: block;
  background-image: url("../assets/鼠标.png");
  height: 40px;
  width: 40px;
  background-size: 100%;
  margin: 0;
  padding: 0;
  position: absolute;
  border-radius: 50%;
  top: 0;
  left: 0;
}
.mouseMove1{
  animation-name: mouseMove1;
  animation-duration: 2s;
  animation-fill-mode: forwards;
}
.mouseMove2{
  animation-name: mouseMove2;
  animation-duration: 1s;
  animation-fill-mode: forwards;
}

@keyframes mouseMove1 {
  0% {
    top: 0;
    left: 0;
  }
  100% {
    left: 40%;
    margin-top: 380px;
  }
}
@keyframes mouseMove2 {
  0% {
    left: 40%;
    margin-top: 380px;
  }
  100% {
    left: 45%;
    margin-top: 440px;
  }
}


//底线
.foot {
  display: flex;
  position: absolute;
  bottom: 20px;
  //background-color: pink;
  width: 100%;
}

span {
  font-size: 12px;
  color: #999;
  margin: 0 auto;
}



//变化项
.text-success{
  display: none;
}
.searchbarTouch{
  box-shadow: 0 0 5px rgb(212, 212, 212);
}
