/* You can add global styles to this file, and also import other style files */
body, input, button {
  font-size: 14px;
  font-family: arial,sans-serif;
  color: #202124;
}

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
